.about{
	margin-top: 20px;
	&__company{
		margin: 20px auto;
		font-size: 28px;
		text-align: center;
	}
	&__additional {
		margin: 20px 140px;
		font-size: 20px;
		text-align: center;
		line-height: 25px;
	}
	&__additional:after {
		content: "";
		display: block;
		background-color: #222222;
		width: 30px;
		height: 1px;
		margin: 10px auto 0;
	}
	&__description {
		font-size: 16px;
		text-align: justify;
		line-height: 25px;
	}
	&__banner {
		margin: 20px auto;
	}
}